.img-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.form-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 97vh;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.login-logo {
  width: 100px;
  position: relative;
  left: 40%;
  top: -35%;
}

.text-header {
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  margin-top: 0px;
}

input[type="text"],
textarea,
input[type="password"],
input[type="date"] {
  width: 450px;
  padding: 3px;
  border: 1px solid gray;
  border-radius: 5px;
}

.input-number {
  width: 10px !important;
}

.w-20 {
  width: 20px !important;
}

.search-input {
  width: 200px;
}

.form-main {
  border: 1px solid #80808061;
  padding: 50px;
  border-radius: 6px;
}



label {
  width: 100px;
  font-weight: bold;
}

button {
  padding: 5px;
  width: auto;
  border: 1px solid #808080bd;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary {
  background-color: #9e444b;
  border: 1px solid #9d424bd9;
  color: white;
}

.btn-secondary {
  background-color: #00000075;
  border: 1px solid #00000012;

}

.mr-5 {
  margin-right: 5px;
}

.ml-5 {
  margin-left: 5px;
}


.mb-3 {
  margin-bottom: 3px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mt-5 {
  margin-top: 5px;
}

.detail-box {
  width: 50%;
}

.cursor-pointer {
  cursor: pointer;
}

.mapping-box {
  width: 30%;
}

td,
th {
  text-align: center;

}

.transaction-table td,
.transaction-table th {
  font-size: 10px;
  padding: 0px;
}

.sample-detail {
  width: 35%;
}

.transaction-table {
  width: 100%;
}

.pagination {
  display: flex;
  list-style: none;
  gap: 8px;
  justify-content: center;
  padding: 10px 0;
}

.page-item {
  border: 1px solid #ccc;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
}

.page-link {
  text-decoration: none;
  /* color: black; */
}

.page-item.active {
  background-color: #9e444b;
  color: #fff !important;
  border-color: #9e444b;
}

.btn-secondary {
  background-color: #534e4e;
  color: #fff
}

.btn-primary {
  background-color: #9e444b;
  color: #fff;
}

dialog {
     border: none;
    border-radius: 12px;
    padding: 2rem;
    max-width: 400px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
    background: white;
    text-align: center;
    transition: opacity 0.3s ease;
    top: 25%;
    z-index: 99;
}

dialog p{
  font-size: 20px;
  font-weight: 500;
}

.backdrop{
  position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 99;
    opacity: 0.3;
}




.printContent {
  display: none;
}

@media print {
  .printContent {
    display: block;
  }
}




.print-preview {
  background: #eee;
  padding: 20px;
}
.print-page {
  background: white;
  width: 794px; /* A4 size in px */
  height: 1123px;
  margin: auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}